@charset "utf-8";

body{
    background-color: rgb(106, 201, 135);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blue;
}

h1#principal{
    background-color: rgb(28, 26, 155);
    color: aliceblue;
}
}