@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

a {
    color: white;
    font-weight: bolder;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(56, 55, 55);
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
